@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $button;
    gap: 1rem;

    &__title {
        background-color: $light-background;
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 4px;
        color: $text;
    }
}

.date {
    padding: 1rem;

    &__card {
        display: flex;
        flex-direction: column;
        background-color: $background;
        margin-bottom: 1.5rem;
        border-radius: 4px;
        padding: 0.5rem;
        gap: 1.25rem;
        cursor: pointer;
    }

    &__image {
        border-radius: 4px;
        width: 95%;
        height: 12.5rem;
        object-fit: cover;
        margin: 0.5rem;
    }

    &__name {
        @include subheader;
        color: $text;
        font-weight: bold;
        text-align: center;
    }

    &__description {
        @include body;
        color: $text;
    }

    &__category {
        @include label;
        color: $text;
        font-weight: bold;
    }
}
