@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.ideas {
    background-color: $light-text;

    &__title {
        @include header;
        color: $text;
        padding: 2rem 0;
        text-align: center;
    }

    &__label {
        @include label;
        text-align: center;
        color: $white;
        margin-bottom: 1rem;
    }

    &__filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0;

        &--button {
            @include single-green-button;
            width: 40%;
            margin: 0.5rem;
        }
    }

    &__empty {
        @include subheader;
        background-color: $background;
        color: $white;
        padding: 3rem 1rem;
        text-align: center;
    }
}

.ideas__filter select {
    @include placeholder;
    color: $light-text;
    border: none;
    border-radius: 4px;
    width: 75%;
    height: 2.5rem;
    padding: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus {
        border: transparent;
        outline: 2px solid $light-text;
    }
}

.date {
    padding: 1rem;

    &__card {
        display: flex;
        flex-direction: column;
        background-color: $background;
        margin-bottom: 1.5rem;
        border-radius: 4px;
        padding: 0.5rem;
        gap: 1.25rem;
    }

    &__image {
        border-radius: 4px;
        width: 95%;
        height: 200px;
        object-fit: cover;
        margin: 0.5rem;
    }

    &__name {
        @include subheader;
        color: $text;
        font-weight: bold;
        text-align: center;
    }

    &__description {
        @include body;
        color: $text;
    }

    &__category {
        @include label;
        color: $text;
        font-weight: bold;
    }

    &__option {
        @include body;
    }
}
