@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.nav {
    background-color: $text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    &__logo {
        height: 12vh;
    }

    @include green-link-buttons;
}
