@use "/styles/typography" as *;
@use "/styles/variables" as *;

@mixin green-link-buttons {
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;

        .link {
            width: 100%;
            text-decoration: none;
            color: inherit;
            display: inline-block;
        }

        &--options {
            @include button;
            background-color: $button;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 4px;
            width: 100%;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $background;
                color: $white;
            }
        }
    }
}
