// Colors

$text: #233d4d;
$background: #fe7f2d;
$light-background: #eae2b7;
$button: #a1c181;
$light-text: #619b84;

// Auxiliary colors

$white: #fff;

// Breakpoint

$tablet-break: 768px;
$desktop-break: 1280px;
